body{
    width: 100%;
    color: rgb(0,0,0,.95);
}
.conteiner-full{
    padding: 50px 24px 24px;
    margin: 0 auto 4px;
    width: 100%;
    box-shadow: none;
}
.conteiner-full.single-column{
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    overflow:visible;
}
main{
    display: block;
}
.padding-24-bottom{
    padding-bottom: 24px;
}
.text-aling-center{
    text-align: center;
}
.content.article{
    max-width: 1120px;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
div{
    display: block;
}
.partial.breadcrumbs .breadcrumb-item {
    display: inline;
    color: #e90606;
}
.partial.breadcrumbs .breadcrumb-item{
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 700;
}
.partial.breadcrumbs .breadcrumb-list{
    padding:0;
    margin: 0;
    list-style: none;
}
p,ul{
    font-family: Georgia, Times, serif;
    margin-top: 28px;
    margin-bottom: 28px;
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 17px;
}
ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
h1{
    letter-spacing: .5px;
    margin: .67em 0;
}
.component.lead-image, .partial.lead-image{
    position: relative;
    display: flex;
    justify-content: center;
}
.component.lead-image .image-and-burst, .partial.lead-image .image-and-burst {
    flex: 1 1 auto;
    position: relative;
}
.component.lazy-image{
    background: none;
    margin: auto;
    caption-side: bottom;
}
.component.lazy-image.lead-media{
    display: flex;
}
.main.article .lead-media{
    margin-bottom: 32px;
}
.partial.lead-image .component.lazy-image .inner-container{
    display: table;
}
.component.component.lazy-image .inner-container{
    position: relative;
}
.container-full-width.single-column.sc-full-width-media .partial.lead-image img{
    width: 100%;
    max-height: none;
}
.component.lazy-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.component.lazy-image img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.component.lazy-image.no-upscale{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partial.breadcrumbs .breadcrumb-container{
    display: table;
    margin:auto;
}
.margin-16-bottom{
    margin-bottom: 16px;
}
.margin-8-top{
    margin-top: 8px;
}
.heading-content{
    font-size: 39px;
    line-height: 47px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
main.article .intro-top{
    position: relative;
    margin-bottom: 0;
}
.conteiner-full.single-column .article-content{
    max-width: 800px;
    margin: 0 auto;
}
.margin-8-bottom{
    margin-bottom: 8px;
}
.article-header .article-info{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
.article-header{
    margin: 0 auto;
    max-width: 840px;
}
.conteiner-full.single-column main.content.article{
    max-width: none;
}
.padding-8-right{
    padding-right: 8px;
}
.author .author-text>div{
    display: inline-block;
}
.conteiner-full.single-column .article-content .author .author-text .padding-8-right{
    padding: 0;
}
.conteiner-full.single-column .article-content .author .author-text{
    margin-right: auto;
    text-align: center;
}
.author-text{
    text-align: center;
    margin-right: auto;
    color: #8b8d91;
    max-width: 640px;
    line-height: 1.85;
    text-transform: uppercase;
    margin-left: auto;
}
main.article .padded{
    padding-left: 56px;
    padding-right: 56px;
    min-width: 651px;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}
.margin-24-tb{
    margin-top: 24px;
    margin-bottom: 24px;
}
.author{
    letter-spacing: .5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    background-color: transparent;
    text-decoration: none;
    color:#e90606;
    font-weight: 400;
}
.author .author-name{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
.scale-12{
    font-size: 12px;
}
.body.content:not(.gallery){
    margin-bottom: 12px;
}
.content.article{
    max-width: 1120px;
    margin: 0 auto;
}
.main.article .padded{
    padding-left: 56px;
    padding-right: 56px;
    max-width: none;
    min-width: 651px;
    margin-left: auto;
    margin-right: auto;
}
.body.content div.padded>*{
    margin-left: auto;
    max-width: 640px;
    width: 100%;
}
.article-content p{
    font-size: 17px;
}
p,ul{
    font-family: Georgia, Times, serif;
    margin-top: 28px;
    margin-bottom: 28px;
    line-height: 28px;
    letter-spacing: .5px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.body.content div.padded span.dropcap{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 400;
    margin: 2px 10px 2px 0;
    padding: 8px 2px 8px 5px;
    border-top: 2px solid #e90606;
    border-left: 2px solid #e90606;
}
.body.content p a{
    color: #e90606;
    padding: 1px 0;
    font-weight: 400;
}
a{
    text-decoration: none;
}
i{
    font-style: italic;
}
b{
    font-weight: 700;
}
.article-column-container{
    display: flex;
    justify-content: space-between;
}
.conteiner-full.single-column .article-content .body.content div.padded .component.inline.image:not(.align-left):not(.align-right){
    max-width: none;
    margin-right: auto;
    margin-left: 50%;
    width: 80vw;
    transform: translateX(-50%);
}
.body.content .incline.image{
    padding: 0;
}
.margin-32-tb{
    margin-top: 32px;
    margin-bottom: 32px;
}
.component.image{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.article.content.body .component.inline.image .image-wrapper{
    position: relative;
    background-color: #ffffff;
}
.component.inline.image .image-wrapper{
    text-align: center;
}
.component.lazy-image .inner-container{
    position: relative;
}
.component.lazy-image img{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.body.content:not(.gallery) img{
    max-width: 100%;
}
.component.lazy-image.no-upscale{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.component.lazy-image{
    margin: auto;
    caption-side: bottom;
}
.component.lazy-image.no-upscale img{
    position: relative;
    max-height: none;
    width: auto;
}
.body.content:not(.gallery) div.padded .component.inline.image:not(.align-left):not(.align-right) .image-wrap-container{
    padding-left: 0;
}
.article.content.body .component.inline.image .image-wrap-container{
    display: block;
    background-color: #ffffff;
}
.component.inline.image .image-wrap-container{
    width: 100%;
    text-align: left;
    display: block;
    background-color: #ffffff;
}
.image-wrap-container{
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
}
.content.article .component.lazy-image .image-wrap-container .body-caption{
    font-size: 13px;
    letter-spacing: .5px;
}
.component.lazy-image .credit{
    padding-left: 0;
    padding-right: 4px;
}
.image-wrap-container, .credit.body-caption{
    font-size: 13px;
    font-weight: 400;
}
.image-wrap-container .credit.body-caption, .image-wrap-container .credit.body-credit{
    display: inline;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.body-caption{
    color: #000001;
}
.body-caption, .body-credit{
    line-height: 15px;
    letter-spacing: 0;
    font-size: 12px;
}
.image-wrap-container .credit.body-credit{
    margin-left: 5px;
}
.padding-8-bottom{
    padding-bottom: 8px;
}
.padding-8-top{
    padding-top: 8px;
}
.body-credit{
    color: #a3a5a9;
}
.newsletter-signup-content-wrapper h3 span{
    margin-bottom: 0;
    color: #e90606;
    font-size: 22px;
    font-weight: 700;
}
.newsletter-signup-content-wrapper h3{
    display: inline;
    font-size: 21px;
    margin: 0;
    text-align: left;
}
.newsletter-signup-content-wrapper h3{
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin-top: .6em;
    margin-bottom: .6em;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    letter-spacing: .5px;
}
h3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.newsletter-signup-content-wrapper .newsletter-signup-headline-wrapper{
    flex-direction: inherit;
}
.newsletter-signup-content-wrapper .newsletter-signup-headline-wrapper{
    flex-direction: inherit;
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 16px;
    padding: 0 5px;
}
.newsletter-signup-inline{
    display: block;
    width: 100%;
    text-align: center;
}
.component.newsletter-callout.newsletter-inline-signup{
    display: flex;
    background-color: initial;
    border-top: 1px solid #d7d7d9;
    border-bottom: 1px solid #d7d7d9;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 25px 0 20px;
}
.component.newsletter-callout{
    background-size: cover;
    letter-spacing: .5px;
    position: relative;
    overflow: hidden;
}
.body.content:not(.gallery) div.padded>*{
    margin-left: auto;
    max-width: 640px;
    width: 100%;
}
.newsletter-signup-content-wrapper .newsletter-signup-form{
    text-align: left;
}
form{
    display: block;
    margin-top: 0em;
}
.component.newsletter-callout.newsletter-inline-signup .newsletter-signup-form .nw-email{
    display: inline-block;
    width: calc(100%-180px);
    padding-left: 5px;
    max-width: 100%;
    margin: 0 auto;
}
.newsletter-signup-content-wrapper .newsletter-input{
    padding: 8px;
    height: 39px;
    color: #8b8d91;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000001;
    background-color: #f0f1f2;
}
input{
    line-height: normal;
}
button, input{
    color: inherit;
    font: inherit;
    margin: 0;
}
.component.newsletter-callout.newsletter-inline-signup .button-signup-container button {
    margin: 0 0 0 20px;
    width: 150px;
}
.newsletter-signup-content-wrapper .newsletter-signup-button {    
    background: #e90606;
    color: #fff;
    width: 150px;
    border: 2px solid #e90606;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 10px 12px;
    transition: all .1s ease-in-out;
    margin: 0 20px;
    letter-spacing: 1.21px;
    text-transform: uppercase;
}
button{
    overflow: visible;
}
.component.newsletter-callout.newsletter-inline-signup .button-signup-container {
    width: 170px;
    display: inline-block;
    padding-top: 0;
    vertical-align: top;
    margin: 0 auto;
}
.conteiner-full.single-column .article-content .body.content div.padded>*{
    margin-right: auto;
}
.newsletter-signup-content-wrapper .tout-content {
    font-size: 12px;
    margin: 20px auto 0;
    width: calc(100% - 20px);
    line-height: 1.5;
}
.content.article div.padded .author-feedback-text {
    font-family: Roboto Condensed,Arial Narrow,Arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .25px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
